---
import GitHubLogoImage from "@/assets/github-logo.svg";
import XLogoImage from "@/assets/x-logo.svg";
import NoteLogoImage from "@/assets/note-logo.svg";
import WebsiteLogoImage from "@/assets/link-logo.svg";

type Props = {
  xId?: string;
  githubId?: string;
  website?: string;
  hasNote?: boolean;
  noteId?: string;
  size?: "small" | "large";
};

const {
  xId,
  githubId,
  website,
  hasNote = false,
  noteId,
  size = "small",
}: Props = Astro.props;
---

<ul class:list={["list", size === "small" ? "small" : "large"]}>
  {
    (
      [
        { icon: <XLogoImage />, url: xId && `https://x.com/${xId}` },
        {
          icon: <NoteLogoImage />,
          url: noteId && `https://note.com/${noteId}`,
        },
        {
          icon: <GitHubLogoImage />,
          url: githubId && `https://github.com/${githubId}`,
        },
        { icon: <WebsiteLogoImage />, url: website },
      ] as const
    ).map(
      ({ icon, url }) =>
        url != null && (
          <li>
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              class:list={[
                "item",
                {
                  github: url.includes("github.com"),
                  note: url.includes("note.com"),
                  x: url.includes("x.com"),
                },
                size === "small" ? "small" : "large",
              ]}
            >
              {icon}
            </a>
          </li>
        ),
    )
  }
</ul>

<style>
  @import "../css/vars.css";
  @import "../css/utils.css";

  .list {
    display: flex;
    gap: 4px;
    padding: 0;
    list-style: none;
  }
  .list.large {
    gap: 8px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #fff;
  }
  .item.small {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .item.large {
    width: 48px;
    height: 48px;
    border-radius: 8px;
  }
</style>
